<header>

    <%- include('../partials/listsheader.ejs') %> 
    
</header>
<main class="lists-main">

    <div class="underlay"></div>

    <div class="items-list">

        <div class="items-header">
            <div class="list-name">
                <ul>
                    <li style="float:left"><h3><%= list.name %></h3></li>
                    <li>
                        <form action="/lists/<%= list._id %>?_method=DELETE" method="POST" id="list-delete">
                        <button type="submit" form="list-delete"><i class="fas fa-trash"></i></button>
                        <!-- <input type="submit" value="Delete"> -->
                    </form>
                    </li>
                    <li><button id="item-create-button"><i class="fas fa-plus"></i> Add Item</button></li>
                    <!-- <li><a href="/items/new"><i class="fas fa-plus"></i> Add Item</a></li> -->
                    
                </ul>
            </div>

            <div class="clearfix"></div>
            
            <div class="field-container">
                <div class="item-field"><h4>Product Name</h4></div>
                <div class="item-field"><h4>Category</h4></div>
                <div class="item-field"><h4>Price</h4></div>
                <div class="item-field"><h4>Quantity</h4></div>
                <div class="item-field"><h4>Reorder Level</h4></div>
                <div class="item-field"><h4>Actions</h4></div>
            </div>

            <div class="bar-container"><div class="bar"></div></div>

        </div>

        
        <div class="items">
            <% list.items.forEach(item => { %>
                <div class="ind-item-container">
                    <div class="ind-item"><%= item.name %></div>
                    <div class="ind-item"><%= item.category %></div>
                    <div class="ind-item"><%= item.price %></div>
                    <div class="ind-item"><%= item.quantity %> </div>
                    <div class="ind-item">Rollover</div>
                    <div class="ind-item">
                        <a href="/items/<%= item._id %>/edit" title="Edit Current Item"><i class="fas fa-edit"></i><a></a>
                        <div class="item-delete">
                            <form action="/items/<%= item._id %>?_method=DELETE" method="POST">
                                <button type="submit"><i class="fas fa-trash"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="bar-container"><div class="bar-small"></div></div>              
            <% }) %>
        </div>
        
    </div>


</main>

<div class="modal-container hidden">
    <div class="modal-bg"></div>
    <div class="modal-content">
        <div class="close">+</div>
        <p>Add a new item to this list.</p>
        <form action="/items" method="POST">
            <input type="text" name="name" placeholder="Product Name">   
            <input type="text" name="category" placeholder="Category">
            <input type="number" name="price" placeholder="Price">
            <input type="number" name="quantity" placeholder="Quantity">
            <input type="number" name="reorderLevel" placeholder="Reorder Level">
            <input type="submit" value="Add Item">
        </form>
    </div>
    
</div>
