<header>

    <%- include('../partials/listsheader.ejs') %> 
    
</header>
<main class="lists-main">

    <div class="underlay"></div>

    <div class="items-list">
        <div class="items-header">

            <ul>
                <li style="float:left"><h3><%= list.name %></h3></li>
                <li>
                    <form action="/lists/<%= list._id %>?_method=DELETE" method="POST" id="list-delete">
                    <button type="submit" form="list-delete"><i class="fas fa-trash"></i></button>
                    <!-- <input type="submit" value="Delete"> -->
                </form>
                </li>
                <li><a href="/items/new">Add Item</a></li>
            </ul>
            

            
            
        </div>
        
        <div class="items">
            <% list.items.forEach(item => { %>
                <ul>
                    <li>Name: <%= item.name %></li>
                    <!-- originally for code above <a href="/items/ item._id %>"> -->
                    <li>Category: <%= item.category %></li>
                    <li>Price: <%= item.price %></li>
                    <li>Quantity: <%= item.quanity %></li>
                    <li>
                        <a href="/items/<%= item._id %>/edit" title="Edit Current Item">Edit<a>
                                
                        <form action="/items/<%= item._id %>?_method=DELETE" method="POST">
                        <button type="submit"><i class="fas fa-trash"></i></button>
                        </form>
                    </li>
                </ul>                 
            <% }) %>
        </div>
    </div>

</main>