<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Inventory</title>
</head>
<body>
    <header>
        <h1>Welcome to the Mythical Creature's Inventory Tool</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/lists">Inventories List</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>          
        </nav>
    </header>
        <main>
            <section>
            <h2><%= list.name %>
                <a href="/lists/<%=list._id%>/edit">Edit</a>
                <form action="/lists/<%= list._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </h2>
            </section>
            <p>Normally this show will display the entire selected inventory.  The edit button allows users to edit the inventory's table header information, such as the Name, Category, Price, and Description.</p>
            <p>This is purely an edit for the Inventory header information and not the Items listed in the inventory.  Once the Items model is created, referenced, and added to this inventory, users will be able to add/update/remove items on this inventory page.</p>
            <section>
                <h2>Items</h2>
                <% list.items.forEach(list => { %>
                    <a href="/items/<%= item._id %>"><%= item.name %></a>
                    <% }) %>
                <li><a href="/items/new">Add a new item</a></li>
            </section>
        </main>
</body>
</html>