<header>

    <%- include('../partials/listsheader.ejs') %> 
    
</header>
<main class="lists-main">

    <div class="underlay"></div>

    <%= list.name %>
    <form action="/lists/<%= list._id %>?_method=DELETE" method="POST" id="list-delete">
        <button type="submit" form="list-delete"><i class="fas fa-trash"></i></button>
        <!-- <input type="submit" value="Delete"> -->
    </form>

    <section>
        <h2>Items</h2>
        <% list.items.forEach(item => { %>
            <ul>
                <li>Name: <a href="/items/<%= item._id %>"><%= item.name %></a></li>
                <li>Category: <%= item.category %></li>
                <li>Price: <%= item.price %></li>
                <li>Quantity: <%= item.quanity %></li>
            </ul>                 
            <% }) %>
        <li><a href="/items/new">Add a new item</a></li>
    </section>
</main>